{{- if eq .chezmoi.hostname "MBH102258" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"

# Added by Toolbox App
export PATH="$PATH:/Users/Graeme.Read/Library/Application Support/JetBrains/Toolbox/scripts"

#
{{- else if eq .chezmoi.hostname "agentsmith" -}}
# Nothing as yet™
{{- end -}}

# Note the trailing '#' in the template above seems to currently be needed, otherwise the first line below gets concatanated!

# On macOS even with fish as the default shell I seem unable to get the fish.config to execute properly and get the relevant environment variables set up (eg, homebrew, which BTW is different between my arm64 based work machine and my Intel based home machine)
#
# This is my current workaround:
# - keep `/bin/zsh` as the default shell
# - `~/.zprofile` will then:
#	- set up machine specific environment variables
#	- exec fish
#
# Current issues with this approach:
# 1. It _feels_ messy
# 2. When launching/exiting Alacritty you are able to see a flicker of what happened before fish was exec'd
exec fish
