{{ if ne .chezmoi.hostname "thearchitect" -}}
[user]
	name = Graeme Read
	{{ $key := onepassword "6w3xanezkfbxs456feuve4i7je" "vmyokdd4hckbpd7lfi64nlawiq" -}}
	email = {{ $key.title }}
	signingkey = {{ template "onepassword_field" (list $key "public key") }}
{{- end }}
