{{ if ne .chezmoi.hostname "thearchitect" -}}
[user]
	name = Graeme Read
	email = {{ onepasswordRead "op://vmyokdd4hckbpd7lfi64nlawiq/6w3xanezkfbxs456feuve4i7je/title" }}
	signingkey = {{ onepasswordRead "op://vmyokdd4hckbpd7lfi64nlawiq/6w3xanezkfbxs456feuve4i7je/publickey" }}
{{- end }}
