{{ if and (eq .chezmoi.os "linux") (or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "fedora")) -}}

#
# ~/.bashrc
#

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

alias ls='ls --color=auto'
alias grep='grep --color=auto'
PS1='[\u@\h \W]\$ '

[ -f ~/.fzf.bash ] && source ~/.fzf.bash

[ -f ~/.config/broot/launcher/bash/br ] && source ~/.config/broot/launcher/bash/br

if [[ "$(tty)" == "/dev/tty5" ]] then
	start-hyprland
else
	exec fish
fi
{{- else -}}
[ -f ~/.fzf.bash ] && source ~/.fzf.bash
{{- end}}
