# This is the 1Password SSH agent config file, which allows you to customize the
# behavior of the SSH agent running on this machine.
#
# You can use it to:
# * Enable keys from other vaults than the Private vault
# * Control the order in which keys are offered to SSH servers
#
# EXAMPLE
#
# By default, all keys in your Private vault(s) are enabled:
#
#  [[ssh-keys]]
#  vault = "Private"
#
# You can enable more keys by adding more `[[ssh-keys]]` entries.
# For example, to first enable item "My SSH Key" from "My Custom Vault":
#
#  [[ssh-keys]]
#  item = "My SSH Key"
#  vault = "My Custom Vault"
#
#  [[ssh-keys]]
#  vault = "Private"
#
# You can test the result by running:
#
#  SSH_AUTH_SOCK=~/.1password/agent.sock ssh-add -l
#
# More examples can be found here:
#  https://developer.1password.com/docs/ssh/agent/config

{{ if eq .chezmoi.hostname "agentsmith" -}}
[[ssh-keys]]
item = "agentsmith"
vault = "Private"
{{- else if eq .chezmoi.hostname "switch" -}}
[[ssh-keys]]
item = "switch"
vault = "Private"
{{- else if eq .chezmoi.hostname "MBH102258" -}}
[[ssh-keys]]
item = "MBH071588"
vault = "Marks & Spencers"
{{- else if eq .chezmoi.hostname "dozer" -}}
[[ssh-keys]]
item = "dozer"
vault = "Private"
{{- else if eq .chezmoi.hostname "trinity" -}}
[[ssh-keys]]
item = "trinity"
vault = "Private"
{{- end }}

{{ if ne .chezmoi.hostname "MBH102258" -}}
[[ssh-keys]]
item = "graeme@sigma957.net"
vault = "Private"
{{- end }}

[[ssh-keys]]
item = "graeme.read@mnscorp.net"
vault = "Marks & Spencers"
