# B2: leave hard_delete unset + 30-day daysFromHidingToDeleting rule on every bucket — else deletes resurrect weekly.

[r2]
type = s3
# See https://developers.cloudflare.com/r2/examples/rclone/
provider = Cloudflare
acl = private
{{ if eq .chezmoi.hostname "agentsmith" -}}
{{- $r2 := onepassword "mixj2mexoy7nj6kmukhjopzwxu" "jfabgjw6euv4xxc2e2oqqlbud4" -}}
access_key_id = {{ template "onepassword_field" (list $r2 "Access Key ID") }}
secret_access_key = {{ template "onepassword_field" (list $r2 "Secret Access Key") }}
endpoint = {{ (index $r2.urls 0).href }}
no_check_bucket = true
{{- else if eq .chezmoi.hostname "dozer" -}}
{{- $r2 := onepassword "m4fl7mhg45jqlmrdij35ythfty" "jfabgjw6euv4xxc2e2oqqlbud4" -}}
access_key_id = {{ template "onepassword_field" (list $r2 "Access Key ID") }}
secret_access_key = {{ template "onepassword_field" (list $r2 "Secret Access Key") }}
endpoint = {{ (index $r2.urls 0).href }}
{{- else if eq .chezmoi.hostname "switch" -}}
{{- $r2 := onepassword "hln6x6xrn3aahhzxeaawh6colm" "jfabgjw6euv4xxc2e2oqqlbud4" -}}
access_key_id = {{ template "onepassword_field" (list $r2 "Access Key ID") }}
secret_access_key = {{ template "onepassword_field" (list $r2 "Secret Access Key") }}
endpoint = {{ (index $r2.urls 0).href }}
{{- else if eq .chezmoi.hostname "trinity" -}}
{{- $r2 := onepassword "z7l7to3qmrxumiviho7yjjsy7a" "jfabgjw6euv4xxc2e2oqqlbud4" -}}
access_key_id = {{ template "onepassword_field" (list $r2 "Access Key ID") }}
secret_access_key = {{ template "onepassword_field" (list $r2 "Secret Access Key") }}
endpoint = {{ (index $r2.urls 0).href }}
{{- end }}

[data1]
type = crypt
remote = r2:data1

[data2]
type = crypt
remote = r2:data2

