# Seeded from https://github.com/jonhoo/configs/blob/master/shell/.config/fish/config.fish

abbr -a c cargo
abbr -a d nvim -d
abbr -a du dust -d 1
abbr -a e nvim
abbr -a g git
abbr -a ll exa -l
abbr -a lll exa -al
abbr -a ls exa
abbr -a o open

# Thse may not be needed long term, but finding myself type them often right now!
abbr -a cha chezmoi apply
abbr -a chc chezmoi cd
abbr -a chd chezmoi diff
abbr -a che chezmoi edit
abbr -a chu chezmoi update

# Homebrew environment variables
{{- if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "amd64") }}
eval $(/usr/local/bin/brew shellenv)
{{- else if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") }}
eval $(/opt/homebrew/bin/brew shellenv)
{{- end }}

if status is-interactive
	# Only apply base16 theme for fish if tmux is not running, due to escape sequences not working in later versions
	# See https://github.com/tomyun/base16-fish/issues/7#issuecomment-963376055
	if test -d ~/dev/others/base16/templates/fish-shell && test -z "$TMUX"
		set fish_function_path $fish_function_path ~/dev/others/base16/templates/fish-shell/functions
		builtin source ~/dev/others/base16/templates/fish-shell/conf.d/base16.fish
	end

	if ! set -q TMUX
		exec tmux
	end
end

# Environment variables
setenv EDITOR nvim

# Remove the default fish greeting
set fish_greeting

# Cargo
fish_add_path $HOME/.cargo/bin

# Fish git prompt
set __fish_git_prompt_showuntrackedfiles 'yes'
set __fish_git_prompt_showdirtystate 'yes'
set __fish_git_prompt_showstashstate ''
set __fish_git_prompt_showupstream 'none'
set -g fish_prompt_pwd_dir_length 3

# Coloured man output
# From http://linuxtidbits.wordpress.com/2009/03/23/less-colors-for-man-pages/
setenv LESS_TERMCAP_mb \e'[01;31m'       # begin blinking
setenv LESS_TERMCAP_md \e'[01;38;5;74m'  # begin bold
setenv LESS_TERMCAP_me \e'[0m'           # end mode
setenv LESS_TERMCAP_se \e'[0m'           # end standout-mode
setenv LESS_TERMCAP_so \e'[38;5;246m'    # begin standout-mode - info box
setenv LESS_TERMCAP_ue \e'[0m'           # end underline
setenv LESS_TERMCAP_us \e'[04;38;5;146m' # begin underline

# command-line fuzzy finder
# see https://github.com/junegunn/fzf
setenv FZF_DEFAULT_COMMAND 'fd --type file --follow -H'
setenv FZF_CTRL_T_COMMAND 'fd --type file --follow -H'
setenv FZF_DEFAULT_OPTS '--height 20%'

# ripgrep, aka rg
# see https://github.com/BurntSushi/ripgrep
setenv RIPGREP_CONFIG_PATH ~/.config/rg/rg.conf

function fish_user_key_bindings
	if functions -q fzf_key_bindings
		fzf_key_bindings
	end
end

function fish_prompt
	set_color brblack
	echo -n "["(date "+%H:%M")"] "
	set_color blue
	echo -n (hostname -s)
	if [ $PWD != $HOME ]
		set_color brblack
		echo -n ':'
		set_color yellow
		echo -n (basename $PWD)
	end
	set_color green
	printf '%s ' (__fish_git_prompt)
	set_color red
	echo -n '| '
	set_color normal
end

{{- if eq .chezmoi.os "darwin" }}

# macOS only

# rbenv for Ruby
eval "$(rbenv init -)"
{{- end }}
