# Seeded from https://github.com/jonhoo/configs/blob/master/gui/.config/alacritty/alacritty.yml

# Alacritty seems to not respect login shell on macOS
#
# Found https://github.com/alacritty/alacritty/issues/1071, which has been closed
# and checked the source for default_shell_command (https://github.com/alacritty/alacritty/blob/117719b3216d60ddde4096d9b2bdccecfd214c42/alacritty_terminal/src/tty/unix.rs#L176) which
# _seems to_ do the right thing, yet `shell` is not `fish` but rather the default `zsh`
{{- if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "amd64") }}
shell = "/usr/local/bin/fish"
{{- else if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") }}
shell = "/opt/homebrew/bin/fish"
{{- end }}

# Base16 Gruvbox dark, hard 256 - alacritty color config
# Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
[[colors.indexed_colors]]
color = "#fe8019"
index = 16

[[colors.indexed_colors]]
color = "#d65d0e"
index = 17

[[colors.indexed_colors]]
color = "#3c3836"
index = 18

[[colors.indexed_colors]]
color = "#504945"
index = 19

[[colors.indexed_colors]]
color = "#bdae93"
index = 20

[[colors.indexed_colors]]
color = "#ebdbb2"
index = 21

[colors.bright]
black = "#665c54"
blue = "#bdae93"
cyan = "#d65d0e"
green = "#3c3836"
magenta = "#ebdbb2"
red = "#fe8019"
white = "#fbf1c7"
yellow = "#504945"

[colors.cursor]
cursor = "#d5c4a1"
text = "#1d2021"

[colors.normal]
black = "#1d2021"
blue = "#83a598"
cyan = "#8ec07c"
green = "#b8bb26"
magenta = "#d3869b"
red = "#fb4934"
white = "#d5c4a1"
yellow = "#fabd2f"

[colors.primary]
background = "#1d2021"
foreground = "#d5c4a1"

[font]
size = 16.0

[font.normal]
family = "NotoSansM Nerd Font"
style = "Light"

[scrolling]
# tmux keeps the session history
history = 0

{{ if eq .chezmoi.os "darwin" -}}
[window]
dimensions = { columns = 160, lines = 40 }
{{- end }}
